.list{
    background-color:white;
    border: 8px;
    box-shadow: 0px 4px 6px rgba(1,1,1,0.3);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
    
}